/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-docsy-faq-block,
.faq-block,
#faq-section {
	background-color: var(--faq-bg, #21759b);
	color: var(--faq-text, #fff);
	padding: var(--faq-padding, 2px);
	border-radius: var(--faq-radius, 0px);
	box-shadow: var(--faq-shadow, none);
	text-align: var(--faq-align, left);
}

.faq-header h2 {
	color: var(--faq-header-title, #111827);
}
.faq-header p {
	color: var(--faq-header-subtitle, #4B5563);
}
.faq-list {
	gap: var(--faq-gap, 1.5rem);
	display: flex;
	flex-direction: column;
}
.faq-item button {
	color: var(--faq-question, #111827);
}
.faq-content {
	color: var(--faq-answer, #4B5563);
	display: none;
	transition: all 0.2s;
	&.show {
		display: block;
	}
}
.faq-icon {
	transition: transform 0.2s;
	display: inline-block;
	vertical-align: middle;
	svg {
		transition: transform 0.2s; // Ensure smooth rotation
		transform: rotate(0deg); // Arrow points down by default
	}
}
.faq-icon svg.rotated {
	transform: rotate(180deg); // Arrow points up when open
	transition: transform 0.2s; // Ensure smooth rotation
}
