/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-docsy-footer {
	border: 1px dotted #f00;
}

.footer-logo img {
	border: 1px solid #f00;
	padding: 2px;
	background: #fff;
}

.footer-repeater-item {
	margin-bottom: 0;
}
