/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-docsy-footer {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.footer-logo {
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
}

.footer-text {
	text-align: center;
	margin-bottom: 1em;
}

.footer-repeater {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
	gap: 1em;
}

.footer-repeater-item {
	background: rgba(255,255,255,0.1);
	padding: 0.5em 1em;
	border-radius: 4px;
}
